<%= xtra.do_not_edit_warning template: template %>

# color_named
Name Color colors

<!-- CI not set up yet
![CI](https://github.com/RobertDober/color_named/workflows/CI/badge.svg)
[![Coverage Status](https://coveralls.io/repos/github/RobertDober/color_named/badge.svg?branch=master)](https://coveralls.io/github/RobertDober/color_named?branch=master)
[![Inline docs](http://inch-ci.org/github/RobertDober/color_named.svg?branch=master)](http://inch-ci.org/github/RobertDober/color_named)
-->
[![Hex.pm](https://img.shields.io/hexpm/v/color_named.svg)](https://hex.pm/packages/color_named)
[![Hex.pm](https://img.shields.io/hexpm/dw/color_named.svg)](https://hex.pm/packages/color_named)
[![Hex.pm](https://img.shields.io/hexpm/dt/color_named.svg)](https://hex.pm/packages/color_named)

**N.B.**

This README contains the docstrings and doctests from the code by means of [extractly](https://hex.pm/packages/extractly)
and the following code examples are therefor verified with `ExUnit` doctests.

<%= xtra.moduledoc "ColorNamed" %>

<%= xtra.functiondoc "ColorNamed.ansi_color_names/0" %>
<%= xtra.functiondoc "ColorNamed.html_color_names/0" %>

## Author

Copyright © 2021 Robert Dober
robert.dober@gmail.com

# LICENSE

Same as Elixir, which is Apache License v2.0. Please refer to [LICENSE](LICENSE) for details.

SPDX-License-Identifier: Apache-2.0
